.button {
	color: black;
	background-color: lightblue;
	border: 1px solid black;
	cursor: pointer;
	font-weight: 600;
	margin-right: 1.1rem;
	padding: 1.1rem;
	outline: none;
	transition: background .5 ease;
	flex-grow: 1;

	&:hover {
		background: blue;
	}
	&:active {
		transition: transform 1s ease;
		transform: scale(1.2);
	}
}
